body {
  margin: 0;
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("window.png");
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope Screen */
#envelope-container {
  text-align: center;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#envelope{
  width: 200px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

#letter-container {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;

}

.letter-window {
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 3/2;
  padding: 20px 20px 0 20px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-position: center;
    border-radius: 12px;
    gap: 1px;
    padding-top: 180px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;

}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
  margin: 0;
  font-size: 30px;
}

p {
  font-size: 40px;
  
}

 .valerio-image {
  width: 250px;
  margin: 10px 0;
  transition: width 0.4s ease;
}

.letter-window.final .valerio-image {
  width: 180px;
}

.buttons {
  display: flex;
  justify-content: center;
  position: relative;

  gap: 30px;
  margin-top: 20px;
}

.no-wrapper {
  position:relative;
}

.btn {
  width: 120px;
  cursor: pointer;
  user-select: none;
}

.yes-btn, 
.no-btn {
  width: 120px;
  height: auto;
  display: inline-block;
}

.yes-btn {
  position: relative;
  z-index: 2;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.no-btn {
  position: relative;
  transition: transform 0.15s ease;
  z-index: 1;
  cursor: default;
}

.final-text {
  font-size: 29px;
  margin-top: 20px;
  line-height: 1.4;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(195, 136, 136, 0.5);
}